head
  meta(charset='utf-8')
  title Avaliação física
  script(src="script.js") 
  link(rel='stylesheet' href='style.css')
body
header
  nav 
    ul 
      li Avaliação física
      li 
        button(class="btNovo" onclick="openModalCreate()") Novo Paciente
main
  div(class="backModal model") 
    form(action="/create" method="POST" class="form model")
      label Nome Completo 
      input(type="text" name="nomeCompleto" id="nomeCompleto" required)
      label Nascimento
      input(type="date" name="nascimento" id="nascimento" required)
      label Peso
      input(type="text" name="peso" id="peso" required)
      label Altura
      input(type="text" name="altura" id="altura" required)
      input(type="submit" value="Criar" id="btEnviar")
      button(class="btModal" onclick="closeModalCreate()") Fechar
  table
    thead
      tr
        th Id 
        th Nome   
        th Nascimento   
        th Peso   
        th Altura   
        th Idade   
        th IMC   
        th Diagnóstico
        th Atualizar    
        th Excluir
    tbody
      each paciente in dados
        tr
          td=paciente.id
          td=paciente.nomeCompleto
          td=paciente.nascimento
          td=paciente.peso
          td=paciente.altura
          td=paciente.idade
          td=paciente.imc
          td=paciente.diagnostico
          td(class="hoverTd")
            button(class="btUpdate" onclick=`openModalUpdate(this)`) *
          td(class="hoverTd")
            button(onclick=`excluirPaciente(${paciente.id})`) -

      div(class="backModalUpdate model") 
        div(class="modal") 
          h2 Dados do Paciente
          p
            strong Id:
            input#modalId(type="text" disabled)
          p
            strong Nome:
            input#modalNome(type="text")
          p
            strong Nascimento:
            input#modalNascimento(type="date")
          p
            strong Peso:
            input#modalPeso(type="number" step="0.01")
          p
            strong Altura:
            input#modalAltura(type="number" step="0.01")
          button(class="btModal" onclick="salvarAlteracoes()") Salvar
          button(class="btModal" onclick="closeModalUpdate()") Fechar

